.amount{
    border:1px solid black;
    padding:3rem;
    border-radius:5px;
    width:20%;
    float:right;
    height:150px;
}
.align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.proceed{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    background-color: rgb(0, 156, 36);
    border-radius:10px;
    width:50%;
    height:48px;
    margin-top: 1rem;
    margin-left: 5rem;
}
.first{
    width:60%;
    border-radius:5px;
    border:1px solid black;
    padding:3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin-top:4rem;
    display:flex;
    justify-content: space-evenly;
}
.amount h1{
    margin:-2.75rem 1rem 1rem -2.5rem;
}
.amount p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 550;
}