.form{
    justify-content: center;
    align-items: center;
    padding-left: 650px;
    padding-top: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.welcome{
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left:400px;
    margin-top:100px;
    font-size: 25px;
    color:#2657a1
}
body{
    background-color: #c6b63e;
}
.logbut{
    margin: 0px 0px 0px 35px;
    background-color:rgb(65, 65, 185);
    font-family: "Lucida Console", "Courier New", monospace;
    width:100px;
    height:25px;
    font-size:15px;
    border-radius: 5px;
}
.logbut:hover{
    background-color:green;
}
input{
    margin-top: 8px;
    margin-bottom:15px;
    border: 3px solid black;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 25px;
}
.eye{
    width:25px;
}
.view{
    background:none;
    border:none;
}

